{% liquid
  assign loading = 'lazy'
  assign fetchpriority = 'low'
  if section.index == 1
    assign loading = 'eager'
    assign fetchpriority = 'high'
  endif

  assign image_class = 'media w-100 of-cover h-auto'
  if block.settings.image_ratio == 'original' and block.settings.height == 'fill'
    assign block_image = 'image' | placeholder_svg_tag: 'placeholder w-100 h-100 of-cover media'
    assign image_class = image_class | replace: ' h-auto', ' h-100'
    assign height_class = 'h-100'
  endif

  assign placeholder_class = 'placeholder ' | append: image_class
  assign block_image = 'image' | placeholder_svg_tag: placeholder_class
  assign widths = '300, 450, 600, 750, 900, 1050, 1200, 1350, 1500, 1650, 1800, 1950, 2000, 2500, 3000, 3500, 4000, 5000'
  assign sizes = 'auto, (min-width: 750px) 100vw, 100vw'
  assign ratio = 'auto'
  case block.settings.image_ratio
    when 'original'
      assign ratio = 1
      if block.settings.image != blank
        assign ratio = block.settings.image.aspect_ratio
      endif
    when '1/1'
      assign ratio = 1
    when '3/2'
      assign ratio = 1.5
    when '2/3'
      assign ratio = 0.667
  endcase

  if block.settings.image != blank
    assign image_alt = block.settings.image.alt | default: block.settings.image.image | split: '/' | last
    assign block_image = block.settings.image | image_url: width: 3840 | image_tag: width: block.settings.image.width, widths: widths, height: block.settings.image.height, sizes: sizes, alt: image_alt, class: image_class, loading: loading, fetchpriority: fetchpriority
  endif
  assign desktop_width_style = '--width-md: ' | append: block.settings.desktop_width | append: '%'
  assign mobile_width_style = '--width: ' | append: block.settings.mobile_width | append: '%'

%}

<div class="block-image p-relative o-hidden w-custom-md w-custom {{ height_class }}" {{ block.shopify_attributes }} style="--ratio: {{ ratio }}; {{ desktop_width_style }}; {{ mobile_width_style }};" {{ block.shopify_attributes }}>
  {% if block.settings.link != blank %}
    <a href="{{ block.settings.link }}" class="p-absolute top-0 left-0 w-100 h-100"></a>
  {% endif %}
  {{ block_image }}
</div>

{% schema %}
{
  "name": "t:general.settings.image.label",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:general.general"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:general.image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "t:general.image_ratio",
      "default": "original",
      "options": [
        {
          "value": "1/1",
          "label": "t:general.square_ratio"
        },
        {
          "value": "2/3",
          "label": "t:general.portrait_ratio"
        },
        {
          "value": "3/2",
          "label": "t:general.landscape_ratio"
        },
        {
          "value": "original",
          "label": "t:general.auto"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:general.size"
    },
    {
      "type": "range",
      "id": "desktop_width",
      "label": "t:general.width",
      "min": 10,
      "max": 100,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "mobile_width",
      "label": "t:general.mobile_width",
      "min": 10,
      "max": 100,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:general.height",
      "default": "fill",
      "options": [
        {
          "value": "fill",
          "label": "t:general.fill"
        },
        {
          "value": "fit",
          "label": "t:general.fit"
        }
      ],
      "visible_if": "{{ block.settings.image_ratio == 'original' }}"
    },
    {
      "type": "header",
      "content": "t:general.link"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:general.link",
      "info": "t:general.link_image_info"
    }
  ],
  "presets": [
    {
      "name": "t:general.image",
      "category": "t:general.media"
    }
  ]
}
{% endschema %}
